body {
  margin: 0;
  background-image: url('/public/bgny.jpg');
  /* background-image: url("https://images.unsplash.com/photo-1498931299472-f7a63a5a1cfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8"); */
  color: #ffd6a2;
  font-family: "Over the Rainbow", cursive;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffd6a2;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

#nextMtg {
  font-family: "Sylfaen", serif;
}

@-webkit-keyframes pulse {
  from {
      -webkit-transform: scale(.5);
      transform: scale(.5);
      color: red;
  }

  50% {
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
  }

  to {
      -webkit-transform: scale(.5);
      transform: scale(.5);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    color: red;
}

50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

to {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation: pulse 1s infinite;
  -webkit-animation: pulse 1s infinite;
  -moz-animation: pulse 1s infinite;
  -o-animation: pulse 1s infinite;
  -ms-animation: pulse 1s infinite;
}